body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px;
}
.top {
    background-color: #1F2937;
    flex: 1.25;
    padding: 12px 75px 75px 75px; 
}

.header {
    display: flex;
    gap: 12px; 
    margin-bottom: 75px;
}
.header img{
    border-radius: 50%;
    margin-right: auto;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E5E7EB;
    gap: 36px; 
}

.container1 img {
    width: auto; 
    height: auto; 
    max-height: 218px;
}

.container2 {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

button {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px; 
    max-width: 120px;
    white-space: nowrap;
    font-weight: bold;
    border-style: solid;
   
}

.firstbutton {
    border: none;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 100px 25px 100px; 
    gap: 25px;
}

.statement {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.mediacontent {
    display: flex; 
    justify-content: space-between;
    gap: 52px; 
}

.objective {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    min-width: 120px;
}

.objective img {
    border: 2px solid #3882F6;
    border-radius: 8px;
    flex: 1;
}

.text {
    max-width: 120px; 
    text-align: center;
}
.quote {
    background-color: #E5E7EB;
    flex: auto;
    padding: 25px 175px 25px 175px; 
    display: flex;
}

.justify {
    justify-content: center;
    align-items: center;
}
.moses {
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
    color: #1F2937
}

.attribution {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}

.action {
    background-color: #3882F6;
    color: #F9FAF8;
    flex: 1;
    margin: 75px 100px 75px 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    padding: 20px 75px 20px 75px; 
}

.directions {
    padding-right: 20px;
    margin-top: -16px;
}

.urgent {
    font-size: larger;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px; 
    text-align: center;
    font-size: smaller;
}

.action button {
    flex: 1;
    border-color: #F9FAF8;
    
    height: 50px; 
    align-self: center;
    
}

